
/* TODOS OS BOTAO + */
.search-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
  /* margin-top: 50px; */
  margin-left: 10px;
  padding: 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-container label {
  padding-left: 10px;
}

.search-container button {
  padding: 10px;
}

/* .search-container button {
  padding: 10px 20px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #4CAF50; 
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
} */

.todosBotoes {
  /* margin-left: 10px; */
  padding: 10px;
  margin-bottom: -18px;
}

.pesquisarTesto {
  width: 600px;
  /* padding: 10px; */
}


@media (width: 1024px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 840px;
  } */
}

@media (width: 912px) {

  /* .todosBotoes {
      margin-left: 740px;
  } */
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }
}

@media (width: 853px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 680px;
  } */
}

@media (width: 820px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 640px;
  } */
}

@media (width: 768px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 600px;
  } */
}

@media (width: 540px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 380px;
  } */
}


@media (width: 430px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 270px;
  } */
}

@media (width: 414px) {

  /* .todosBotoes {
      margin-left: 260px;
  } */
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }
}

@media (width: 412px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 260px;
  } */


}

@media (width: 390px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

  /* .todosBotoes {
      margin-left: 233px;
  } */
}

@media (width: 375px) {
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }

}

@media (width: 360px) {

  /* .todosBotoes {
      margin-left: 210px;
  } */
  .todosBotoes {
      /* margin-left: 220px; */
      margin-left: 0px;
  }

  .pesquisarTesto {
      width: 500px;
  }
}